<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div class="overlay__create__new__payment">
        <div class="overlay__content">
            <h2 style="background: white">Создать новый счёт</h2>
            <div style="display: flex; flex-direction: row; background: white;">
                <div class="overlay__general__info" style="width:300px; display: flex; flex-direction: column; align-items: center;">
                    <h3>Общая информация</h3>
                    <label for="input-new-spending-name">Название счёта</label>
                    <input class="input__new__spending__name" id="input-new-spending-name">
                    <label for="input-new-spending-date">Дата</label>
                    <input type="date" class="input__new__spending__date" id="input-new-spending-date">
                </div>
                <div class="overlay__spending__participants" style="display: flex; flex-direction: column; align-items: center;">
                    <h3>Участники счёта</h3>
                    <div class="div__other__spending__participants" style="height: 200px; width: 350px; overflow-y: scroll;">

                    </div>
                    <h4>Добавьте из друзей:</h4>
                    <div class="div__overlay__friends" style="height: 200px; width: 350px ;overflow-y: scroll;">

                    </div>
                </div>
                <div class="overlay__overall__amount" style="width:300px; display: flex; flex-direction: column; align-items: center;">
                    <h3>Сумма счёта</h3>
                    <p><input class="input__overall__amount" value="0"> рублей</p>
                    <h3>Способ разделения</h3>
                    <input type="radio" value="" id="radio-button-equal-parts">
                    <label for="radio-button-equal-parts">Равные доли</label>
                </div>
            </div>
            <p class="text__spending__creation__status"></p>
            <button class="button__confirm__new__spending">СОЗДАТЬ</button>
        </div>
    </div>
    <h1>Это ваш профиль, <span class="span__username"></span> <a href="/logout">Выйти</a></h1>
    <div class="content" style="display: flex; flex-direction: row;">
        <div class="div__friends">

            <!-- TODO: добавить сообщения о загрузке-->
            <h2>Исходящие запросы</h2>
            <div class="div__sent__requests">
                <p style="color:gray">Исходящих запросов нет</p>
            </div>
            <div class="div__send__new__request">
                <h3>Добавить нового пользователя</h3>
                <label for="add-user-id-input">Введите id пользователя:</label>
                <input id = "add-user-id-input" class = "input__add__friend__id"/>
                <button class="button__send__friend__request">Отправить запрос</button>
                <p>Или скажите друзьям <span class="span__my__user__id">свой id</span></p>
                <p class="text__new__request__status"></p>
            </div>

            <h2>Входящие запросы</h2>
            <div class="div__incoming__requests">
                <p style="color:gray">Входящих запросов нет</p>
            </div>

            <h2>Друзья</h2>
            <div class="div__in__friends">
            </div>
        </div>

        <div class="div__spendings">
            <h2>Счета</h2>
            <button class="button__create__new__spending">Создать новый счёт</button>
            <span class="span__spendings__loading__message" style="color: gray">Загружаем счета...</span>
            <div class="div__all__spendings">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/profile/profile_friends.js"></script>
    <script type="text/javascript" src="js/profile/profile_spendings.js"></script>

</body>
</html>